<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Socket_demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.15.2.11" newVersion="0.15.2.11" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Socket_demo.Properties.Settings>
      <setting name="Sucursal" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewDesktop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="print" serializeAs="String">
        <value />
      </setting>
      <setting name="host" serializeAs="String">
        <value />
      </setting>
      <setting name="Brand" serializeAs="String">
        <value />
      </setting>
      <setting name="BranchName" serializeAs="String">
        <value />
      </setting>
    </Socket_demo.Properties.Settings>
  </userSettings>
</configuration>